<div class="card-item col">
    {% if experience.redirect %}
    <a href="{{ project.redirect }}" target="_blank">
    {% else %}
    <a href="{{ project.url | relative_url }}">
    {% endif %}
      <div class="card hoverable">
        <div class="row g-0">
          {% if experience.img %}
          <div class="card-img col-md-6">
            <img src="{{ experience.img | relative_url }}" alt="experience thumbnail">
          </div>
          <div class="col-md-6">
          {% else %}
          <div class="col-md-12">
          {% endif %}
            <div class="card-body">
              <h3 class="card-title">{{ experience.title }}</h3>
              <p class="card-text">{{ experience.description }}</p>
              <p class="card-text">{{ experience.description }}</p>
              <p class="card-text"><strong>Skills: {{ experience.skills }}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>